body {
    margin: auto;
    max-width: 960px;
    text-align: center;
}

div#buttonContainer {
    padding: 10px 10px;
}

.btn {
    vertical-align: middle;
}

div#container {
    display: grid;
    grid-template-rows: repeat(var(--numBoxes), var(--pxBoxes));
    grid-template-columns: repeat(var(--numBoxes), var(--pxBoxes));
    border: solid 1px;
    width: 960px;
}

/* div.grid-item {
    border: solid 1px;
} */